// Typography

@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

.landing {
    background: black;
    color: white;

    a {
        color: white;
        font-weight: bold;
        position: relative;
        
        &:hover {
            
            // This is the spotlight effect
            &::after {
                content: ' ';
                display: block;
                position: absolute;
                z-index: 1000;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                mix-blend-mode: difference;
                background: white;
                width: clamp(15rem, 20vw, 20vw);
                height: clamp(15rem, 20vw, 20vw);
                border-radius: 1000000px;
            }
        }

    }

}

.container {
    padding: 6rem 1rem;
}

h1,
.subtitle,
p,
.subdued {
    margin: 0;
}

h1 {
    font-size: clamp(2.5rem, 4.2vw, 4.2vw);
    font-weight: 800;
    margin-bottom: clamp(0.5rem, 1vw, 1vw);
    line-height: 1;
}

.subtitle {
    font-size: clamp(1.5rem, 2.4vw, 2.4vw);
    font-weight: 600;
    color: grey;
    margin-bottom: clamp(1rem, 2vw, 2vw);
    max-width: clamp(28rem, 35vw, 35vw);
    line-height: 1.1;
}

p {
    font-size: clamp(1rem, 1.6vw, 1.6vw);
    margin-bottom: clamp(1rem, 2vw, 2vw);
    line-height: 1.4;
}

.subdued {
    font-size: clamp(0.8rem, 1.1vw, 1.1vw);
    color: grey;
}

@media (min-width:600px) {
    
    .container {
        padding: 200px 12vw;
    }

}
