---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.title }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body class="landing">
    <section class="content">
        <div class="container">
            <article>
                <h1>{{ page.title }}</h1>
                <p class=subtitle>{{ page.subtitle }}</p>
                {{ page.content | markdownify }}
                <p class="subdued">{{ page.footer }}</p>
            </article>
        </div>
    </section>
</body>